<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114206196396-30nmg39dd1m2o2um1ngkc964rb3lt0m6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114206196396-30nmg39dd1m2o2um1ngkc964rb3lt0m6</string>
	<key>API_KEY</key>
	<string>AIzaSyBcNKrVPtPVc8ged7QgvG6gjv0DxsUJ4yg</string>
	<key>GCM_SENDER_ID</key>
	<string>114206196396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dmj</string>
	<key>PROJECT_ID</key>
	<string>zidanni-d4f6e</string>
	<key>STORAGE_BUCKET</key>
	<string>zidanni-d4f6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114206196396:ios:79a4831bf3e33a42e09509</string>
</dict>
</plist>